/* Estilos generales */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Evitar desplazamiento si el canvas es más grande que la vista */
}

/* Estilos para el contenedor del juego */
#gameContainer {
    width: 100vw;
    /* Ancho completo de la ventana de visualización */
    height: 100vh;
    /* Altura completa de la ventana de visualización */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    /* Fondo negro para el juego */
}

/* Aquí puedes agregar estilos adicionales según sea necesario, por ejemplo, para botones o UI adicional */